{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
<title>Creative Exchange – Team One</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<script type="text/javascript" src="{% static 'jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</head>
<body>

<p>
{% if user.is_authenticated %}
Welcome, {{ user.username }}. <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Click to log out</a>
{% else %}
You are not logged in. <a href="{% url 'django.contrib.auth.views.login' %}">Log in</a>
{% endif %}
</p>

{% block content %}
{% endblock %}

</body>
</html>
