{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
<title>Creative Exchange – Team One</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<style type="text/css">
.errorlist {
	color: #7F0000;
	list-style-type: none;
	padding: 0;
}
</style>
<script type="text/javascript" src="{% static 'jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Creative Exchange</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if active_page == 'home' %} class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
            <li{% if active_page == 'portfolio' %} class="active"{% endif %}><a href="{% url 'creative_exchange.views.trader_test' %}">Portfolio</a></li>
          </ul>
            {% if user.is_authenticated %}
				<p class="navbar-text navbar-right" style="color: white">Welcome, {{ user.username }}. <a class="navbar-link" href="{% url 'django.contrib.auth.views.logout_then_login' %}">Click to log out</a></p>
			{% else %}
				<p class="navbar-text navbar-right" style="color: white">You are not logged in. <a class="navbar-link" href="{% url 'django.contrib.auth.views.login' %}">Log in</a></p>
			{% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>
