{% extends "base.html" %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
(function poll(){
    console.log('Polling...');
    setTimeout(function () {
        $.ajax({ url: "order_book", timeout: 100, success: function(data){
        console.log('Success. Here is the data:');
        $('#order_book').html(data);
    }, dataType: "html", complete: poll});
  }, 100);
})();
</script>
{% endblock %}
{% block content %} 
<form method="post">{% csrf_token %}
<table>
{{ trade_form }}
</table>
<input type="submit" value="Submit" />
</form>

<h1>Trade History</h1>
{% if trades %}

<table cellpadding="8">
<tr><th>Stock label</th><th>Seller</th><th>Buyer</th><th>Price</th><th>Quantity</th><th>Timestamp</th></tr>
{% for trade in trades %}
<tr>
<td>{{ trade.stock_label }}</td>
<td>{{ trade.seller }}</td>
<td>{{ trade.buyer }}</td>
<td>{{ trade.price }}</td>
<td>{{ trade.quantity }}</td>
<td>{{ trade.timestamp }}</td>
</tr>
{% endfor %}
</table>

{% endif %}

<h1>Order Book</h1>
<table id='order_book' cellpadding="4">

</table>
{% endblock %}
