{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
<script src="{% static 'highcharts.js' %}"></script>
<script src="{% static 'modules/exporting.js' %}"></script>

<script>

(function poll(){
    console.log('Polling...');
    setTimeout(function () {
        $.ajax({ url: "get_trader_orders", timeout: 100, success: function(data){
        console.log(data);
        $('#trader_orders').html(data);
    }, dataType: "html", complete: poll});
  }, 1000);
})();

dataSet = {{ json_data|safe }};

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            exporting: {
                enabled: false
            },
            title: {
            	text: null
            },
            xAxis: {
                categories: dataSet[0]
            },
            yAxis: {
            	title: {
            		text: 'Profit'
            	},
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Profit',
                data: dataSet[1]
            }]
        });
    });
    

</script>
{% endblock %}
{% block content %}
<table id='trader_orders' cellpadding="4" class="table">
{% include 'trader_orders.html' %}
</table>
<h2>Statistics</h2>

<div id="container" style="width: 400px; height: 400px;"></div>
{% endblock %}

