{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
<script src="{% static 'Chart.min.js' %}"></script>
<script>

(function poll(){
    console.log('Polling...');
    setTimeout(function () {
        $.ajax({ url: "get_trader_orders", timeout: 100, success: function(data){
        console.log(data);
        $('#trader_orders').html(data);
    }, dataType: "html", complete: poll});
  }, 1000);
})();

dataSet = {{ json_data|safe }};

$(function() {
	var barChartData = {
	        labels : dataSet[0],
	        datasets : [
	                {
	                        fillColor : "rgba(220,220,220,0.5)",
	                        strokeColor : "rgba(220,220,220,1)",
	                        data : dataSet[1]
	                }
	        ]
	        
	}
	
	var myLine = new Chart(document.getElementById("trader_profit").getContext("2d")).Bar(barChartData);
});
</script>
{% endblock %}
{% block content %}
<form method="get">
<table>
{{ trader_profile_form }}
</table>
<table id='trader_orders' cellpadding="4" class="table">
{% include 'trader_orders.html' %}
</table>
<input type="submit" value="Submit" />
</form>
<canvas id="trader_profit" width="400" height="400"></canvas>
{% endblock %}
