{% extends 'base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
<table>
{{ trade_form }}
</table>
<input type="submit" value="Submit" />
</form>

<h1>Trade History</h1>
{% if trades %}

<table cellpadding="8">
<tr><th>Stock label</th><th>Seller</th><th>Buyer</th><th>Price</th><th>Quantity</th><th>Timestamp</th></tr>
{% for trade in trades %}
<tr>
<td>{{ trade.stock_label }}</td>
<td>{{ trade.seller }}</td>
<td>{{ trade.buyer }}</td>
<td>{{ trade.price }}</td>
<td>{{ trade.quantity }}</td>
<td>{{ trade.timestamp }}</td>
</tr>
{% endfor %}
</table>

{% endif %}

<h1>Order Book</h1>
<table cellpadding="4">
<tr><th>Stock Label</th><th>Action</th><th>Price</th><th>Quantity</th><th>User</th><th>Timestamp</th></tr>
{% for offer in offers %}
<tr><td>{{ offer.stock_label }}</td><td>{{ offer.get_action_display }}</td><td>{{ offer.price }}</td><td>{{ offer.quantity }}</td><td>{{ offer.user }}</td><td>{{ offer.timestamp }}</td></tr>
{% empty %}
<tr><td colspan="6" align="center">No offers available</td></tr>
{% endfor %}
</table>
{% endblock %}