{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
<script src="{% static 'highcharts.js' %}"></script>
<script src="{% static 'modules/exporting.js' %}"></script>

<script>

(function poll(){
    console.log('Polling...');
    setTimeout(function () {
        $.ajax({ url: "get_trader_orders", timeout: 100, success: function(data){
        console.log(data);
        $('#trader_orders').html(data);
    }, dataType: "html", complete: poll});
  }, 1000);
})();

dataSet = {{ json_data|safe }};

for (var i = 0; i < dataSet['times'].length; i++)
	dataSet['times'][i] = new Date(dataSet['times'][i]);

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            exporting: {
                enabled: false
            },
            title: {
            	text: 'Balance over time' 
            },
            xAxis: {
            	type: 'datetime',
            	 dateTimeLabelFormats: { // don't display the dummy year
                     month: '%e. %b',
                     year: '%b'
                 },
                categories: dataSet['times']
            },
            yAxis: {
            	title: {
            		text: '$'
            	},
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Balance',
                data: dataSet['profit']
            }]
        });
    });
    

</script>
{% endblock %}
{% block content %}
<h2>Your Orders</h2>
<table id='trader_orders' class="table table-striped">
{% include 'trader_orders.html' %}
</table>
<h2>Statistics</h2>

<div id="container" style="min-width: 400px; height: 400px;"></div>
{% endblock %}

