{% extends "base.html" %}
{% block script %}
<script>
(function poll(){
    console.log('Polling...');
    setTimeout(function () {
        $.ajax({ url: "get_trade_and_order", timeout: 100, success: function(data){
        console.log('Success. Here is the data:');
        $('#order_book').html(data['order_book_html']);
        $('#trade_history').html(data['trade_history_html']);
    }, dataType: "json", complete: poll});
  }, 1000);
})();
</script>
{% endblock %}
{% block content %}
<div class="col-md-3"> 
<form method="post" role="form">{% csrf_token %}
<h2>New Offer</h2>
<div class="form-group">
	{{ trade_form.stock_label.label_tag }}
	{{ trade_form.stock_label.errors }}
	{{ trade_form.stock_label }}
</div>
<div class="form-group">
	{{ trade_form.order_type.label_tag }}
	{{ trade_form.order_type.errors }}
	{{ trade_form.order_type }}
</div>
<div class="form-group">
	{{ trade_form.price.label_tag }}
	{{ trade_form.price.errors }}
	{{ trade_form.price }}
</div>
<div class="form-group">
	{{ trade_form.quantity.label_tag }}
	{{ trade_form.quantity.errors }}
	{{ trade_form.quantity }}
</div>
<input type="submit" name="action" value="Buy" class="btn btn-primary btn-lg" />
<input type="submit" name="action" value="Sell" class="btn btn-success btn-lg" />
</form>
</div>
<div class="col-md-9">
<h1>Trade History</h1>
<table id='trade_history' cellpadding="4" class="table table-striped">
{% include 'trade_history.html' %}
</table>

<h1>Order Book</h1>
<table id='order_book' cellpadding="4" class="table table-striped">
{% include 'order_book.html' %}
</table>
</div>
{% endblock %}
